.footer {
    padding: 13rem 0;
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        padding-bottom: 10rem;
    }

    &__logo {
        width: 12rem;
    }


    &__list {
        list-style-type: none;
        color: $color-grey-light-1;
        text-transform: uppercase;
        border-top: 2px solid $color-grey-dark;
        padding-left: 0;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(tablet-portrait) {
            margin-bottom: 7rem;
        }
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__copyright {
        float: right;
        color: $color-grey-light-1;
        border-top: 2px solid $color-grey-dark;
        padding-top: 2rem;

        @include responsive(tablet-portrait) {
            float: none;
            display: inline-block;
        
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
            transform: rotate(-5deg) scale(1.2);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }
}