.story {
    padding: 6rem;
    margin: 0 auto;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 3rem 2rem rgba($color-black, .1);
    transform: skew(-12deg);
    background-color: rgba($color-white, .7s);
    @include responsive(tablet-portrait) {
        width: 100%;
       
   
    
    }
    @include responsive(mobile) {
      
       
        transform: skew(0deg);
    
    }


   
    &>* {
        transform: skew(12deg);
        @include responsive(mobile) {
          
            transform: skew(0deg);
        
        }
    
    
    }

    &__shape {
        float: left;
        width: 15rem;
        height: 15rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(12deg);
        background-size: cover;
        position: relative;
        @include responsive(mobile) {
         
            transform: translateX(-3rem) skew(0deg);
        
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-15%) scale(1.3);
        transition: all .3s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        text-transform: uppercase;
        color: $color-white;
        text-align: center;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .3s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(90%);
        transform: translateX(-15%) scale(1);
    }
}